*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
  }

.navbar-bg {
  background-color: #d36c18;
}

.footer {
  border-top: 2px solid #d36c18 !important;
}
